{% extends "nav.html" %}
{% load static %}
{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5 p-4 bg-light rounded shadow">
        {% if msg1 == "" %}
        <form class="row g-3" action="{% url 'home' game_id %}" method="post" id="emotionForm">
            {% csrf_token %}
            <div class="col-12 mb-4 main-container">
                <h1 class="question mb-3">Valence</h1>
                <div class="form-check question-container options-container">
                    {% for choice in form.Valence.field.choices %}
                    <div class="flex-container mb-3 d-flex align-items-center">
                        <img src="{% static 'images/Valence' %}{{ choice.0 }}.jpg" alt="valence" width="100" height="100" class="me-3">
                        <input class="form-check-input option" type="radio" name="{{ form.Valence.name }}" id="id_valence_{{ forloop.counter }}" value="{{ choice.0 }}">
                        <label class="form-check-label ms-2" for="id_valence_{{ forloop.counter }}">
                            {{ choice.1 }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-12 mb-4 main-container">
                <h1 class="question mb-3">Arousal</h1>
                <div class="form-check question-container options-container">
                    {% for choice in form.Arousal.field.choices %}
                    <div class="flex-container mb-3 d-flex align-items-center">
                        <img src="{% static 'images/Arousal' %}{{ choice.0 }}.jpg" alt="arousal" width="100" height="100" class="me-3">
                        <input class="form-check-input option" type="radio" name="{{ form.Arousal.name }}" id="id_arousal_{{ forloop.counter }}" value="{{ choice.0 }}">
                        <label class="form-check-label ms-2" for="id_arousal_{{ forloop.counter }}">
                            {{ choice.1 }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-12 mb-4 main-container">
                <h1 class="question mb-3">Intensity</h1>
                <div class="form-check question-container options-container">
                    {% for choice in form.Intensity.field.choices %}
                    <div class="flex-container mb-3 d-flex align-items-center">
                        <img src="{% static 'images/intensity' %}{{ choice.0 }}.jpg" alt="intensity" width="100" height="100" class="me-3">
                        <input class="form-check-input option" type="radio" name="{{ form.Intensity.name }}" id="id_intensity_{{ forloop.counter }}" value="{{ choice.0 }}">
                        <label class="form-check-label ms-2" for="id_intensity_{{ forloop.counter }}">
                            {{ choice.1 }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        {% else %}
        {% comment %} <div class="alert alert-info">
            {{ msg }}

            <form method="" action="{% url 'report' %}" class="d-inline">
                <button type="submit" class="btn btn-outline-primary" style="font-size: 1.1rem;">See full report</button>
            </form>
        </div> {% endcomment %}

        <div class="card">
            <div class="card-body text-center">
                <h5>{{msg1}}</h5>
                <h5>{{msg2}}</h5>
                <h5>{{msg3}}</h5>
                <h5 class="last-msg">{{msg4}}</h5>
                <form method="" action="{% url 'report' %}" class="d-inline">
                    <button type="submit" class="btn btn-outline-primary" style="font-size: 1.1rem;">See full report</button>
                </form>
            </div>
        </div>
    
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        document.getElementById('emotionForm').addEventListener('submit', function(event) {
            var valenceChecked = document.querySelector('input[name="{{ form.Valence.name }}"]:checked');
            var arousalChecked = document.querySelector('input[name="{{ form.Arousal.name }}"]:checked');
            var intensityChecked = document.querySelector('input[name="{{ form.Intensity.name }}"]:checked');

            if (!valenceChecked || !arousalChecked || !intensityChecked) {
                event.preventDefault();
                alert('Please make a selection for Valence, Arousal, and Intensity.');
            }
        });
    </script>
{% endblock %}
